.Feed {
  height: 100vh;
  .container {
    display: flex;
    gap: 20px;
    overflow: hidden;
    height: 100%;
  }
  .left-part {
    flex: 2;
    overflow-y: auto;
  }
  .right-part {
    flex: 1;
    margin-top: 20px;
    overflow-y: scroll;
    padding-right: 20px;

    .title {
      margin-bottom: 12px;
    }

    .suggestions {
      margin-top: 12px;
    }
  }
}

@media screen and (max-width: 770px) {
  .Feed{
    .container{
      padding-inline: 20px;
    }
  }
}

@media screen and (max-width: 430px) {
  .Feed{
    .container{
      flex-direction: column;
      gap: 5px;

      .right-part{
        height: 400px;
        overflow-y: auto;
      }
    }
  }
}